/*=============== GOOGLE FONTS ===============*/
@import url("https://fonts.googleapis.com/css2?family=Montserrat+Alternates:wght@400;500&display=swap");

/*=============== VARIABLES CSS ===============*/
:root {
  --header-height: 3.5rem;

  /*========== Colors ==========*/
  /*Color mode HSL(hue, saturation, lightness)*/
  --white-color: hsl(0, 0%, 100%);
  --black-color: hsl(0, 0%, 0%);

  /*========== Font and typography ==========*/
  /*.5rem = 8px | 1rem = 16px ...*/
  --body-font: "Montserrat Alternates", sans-serif;
  --h1-font-size: 1.5rem;
  --normal-font-size: .938rem;

  /*========== Font weight ==========*/
  --font-regular: 400;
  --font-medium: 500;

  /*========== z index ==========*/
  --z-tooltip: 10;
  --z-fixed: 100;
}

/*========== Responsive typography ==========*/
@media screen and (min-width: 1150px) {
  :root {
    --normal-font-size: 1rem;
  }
}

/*=============== BASE ===============*/
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: var(--body-font);
  font-size: var(--normal-font-size);
  background-color: var(--white-color);
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

body {
  background-color: var(--white-color);
  font-family: var(--body-font);
}

.container {
  max-width: 1200px;
  margin: auto;
  padding: 0 20px;
}

/* Header */
.header {
  width: 100%;
  background: #000;
  z-index: var(--z-fixed);

}

/* Navbar */
.nav {
  height: calc(var(--header-height) + 2rem);
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: #fff;
}

/* Logo */
.logo_nav {
  font-size: 24px;
  font-weight: 600;
  color: #ffffff;
  text-decoration: none;
}

/* Menu */
.nav_menu {
  display: flex;
  align-items: center;
}

.nav__list {
  display: flex;
  list-style: none;
  gap: 35px;
  margin-right: 120px;

}



.nav__link {
  text-decoration: none;
  color: var(--white-color);
  font-weight: 500;
  font-size: var(--normal-font-size);
  position: relative;
}

/* Hover effect */
.nav__link::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -6px;
  width: 0%;
  height: 2px;
  background: #ffffff;
  transition: 0.3s;
}

.nav__link:hover::after {
  width: 100%;
}

.nav__close,
.nav__toggle {
  display: none;
}

.nav__social {
  display: flex;
  column-gap: 10px;
}

.nav__social-link {
  font-size: 1.45rem;
  color: var(--white-color);
  transition: transform .4s;
}

.nav__social-link:hover {
  transform: translateY(-.25rem);
}


.nav__close,
.nav__toggle {
  color: var(--white-color);
  font-size: 1.5rem;
  display: none;
  cursor: pointer;

}

@media screen and (max-width:768px) {

  .nav__close,
  .nav__toggle {
    display: block;
  }



  .nav_menu {
    position: fixed;
    top: 0;
    left: -100%;
    margin: 0;
    background-color: var(--black-color);
    width: 100%;
    height: 100%;
    font-size: var(--h1-font-size);
    padding: 6rem 3.5rem 4.5rem;
    flex-direction: column;
    align-items: start;
    justify-content: space-between;
    transition: left .4s;
  }

  .show-menu {
    left: 0;
  }

  .nav__link {

    font-size: var(--h1-font-size);
  }

  .nav__close {
    position: absolute;
    top: 1rem;
    right: 1rem;
  }

  .nav__list {
    flex-direction: column;
    margin-right: 0;
  }

  .nav__social {
    column-gap: 20px;
    margin-left: 20px;

  }

  .nav__social-link {
    font-size: 1.5rem;
  }
}